/* css */
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/opensans.woff2") format("woff2"),
        url("/fonts/opensans.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  }

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/opensanslight.woff2") format("woff2"),
        url("/fonts/opensanslight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroylight.woff2") format("woff2"),
        url("/fonts/gilroylight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroyextrabold.woff2") format("woff2"),
        url("/fonts/gilroyextrabold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}

body {
  letter-spacing: 0.01em;

  width: 1440px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.visual-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.header {
  height: 226px;
  margin-left: 140px;
  margin-right: 140px;
  background-image: linear-gradient(#ffffff 40px, #f7e296 40px)
}

.header-catalog-page {
  height: 226px;
  margin-left: 140px;
  margin-right: 140px;
  background-image: linear-gradient(#ffffff 40px, #f7e296 40px)
}

.header-logo {
  font-size: 48px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #000000;
}

.header-search-input::-webkit-input-placeholder {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  color: #1f1a1a;
  opacity: 0.3;
}

.form-seacrh-btn {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  color: #1f1a1a;
}

.header-login {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  color: #000000;
}

.header-compare {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  color: #000000;
}

.header-cart {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  color: #000000;
}

.header-info-link {
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
}

.header-catalog-link {
  font-size: 15px;
  line-height: 36px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  color: #000000;
}

.slider-self-stick {
  background-image: url("../img/slider-1.png");
  background-repeat: no-repeat;
}

.slider-fitness {
  background-image: url("../img/slider-2.png");
  background-repeat: no-repeat;
}

.slider-quadrupter {
  background-image: url("../img/slider-3.png");
  background-repeat: no-repeat;
}

.slider-title {
  font-size: 47px;
  line-height: 56px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  color: #000000;
}

.slider-description {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  color: #464646;
}

.slider-link {
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
}

.slider-table-name {
  font-size: 36px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  color: #000000;
}

.slider-table-description {
  font-size: 13px;
  line-height: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  color: #464646;
}

.popular-sections-img-wrapper {
  height: 160px;
  width: 160px;
  background-color: #f7e296;
}

.popular-sections-title {
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  color: #000000;
}

.service {
  height: 388px;
  background-image: linear-gradient(#ffffff 25.77%, #e5e5e5 25.77%)
}

.service-item {
  height: 195px;
}

.service-slider-delivery {
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
}

.service-slider-guarantee {
  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
}

.service-slider-credit {
  background-image: url("../img/credit-1.svg");
  background-repeat: no-repeat;
}

.service-title {
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
}

.service-description-title {
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  color: #000000;
}

.service-description-text {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  color: #464646;
}

.about-title {
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  color: #000000;
}

.about-text {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  color: #464646;
}

.about-item {
  font-size: 16px;
  line-height: 40px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  letter-spacing: normal;
  color: #000000;
}

.about-link {
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
}

.contacts-title {
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  color: #000000;
}

.contacts-text {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  color: #464646;
}

.contacts-link {
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
}

.footer {
  height: 323px;
  background-color: #464646;
}

.footer-logo {
  font-size: 48px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffc600;
}

.footer-top-link {
  font-size: 15px;
  line-height: 36px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  color: #ffffff;
  opacity: 0.7;
}

.footer-addres{
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  letter-spacing: normal;
  color: #ffffff;
}

.footer-middle-link {
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
}

.footer-tel {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  letter-spacing: normal;
  color: #ffffff;
}

.write-us-title {
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  letter-spacing: normal;
  color: #000000;
}

.write-us-input {
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  opacity: 0.4;
  color: #464646;
}

.write-us-textarea {
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  opacity: 0.4;
  color: #464646;
}

.write-us-btn-send {
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
}

.header-user-link {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  color: #000000;
}

.header-user-logout {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  opacity: 0.3;
  color: #000000;
}

.сatalog-content-title {
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  color: #000000;
}

.breadcrumbs-link {
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  opacity: 0.3;
  color: #000000;
}

.filter-wrapper {
  height: 70px;
  width: 972px;
  background-color: #ebebeb;
}
.filter-title {
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
}

.filter-link {
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  opacity: 0.3;
  color: #000000;
}

.catalog-card {
  width: 360px;
}

.catalog-card-name {
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  color: #000000;
}

.catalog-card-new-price {
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  color: #464646;
}

.catalog-card-link-buy {
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
}

.catalog-card-link-compare {
  font-size: 13px;
  line-height: 36px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  opacity: 0.5;
  color: #000000;
}

.pagination {
  height: 70px;
  width: 760px;
  background-color: #ebebeb;
}

.pagination-link {
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
}

.form {
  height: 1287px;
  width: 468px;
  background-color: #ebebeb;
}

.form-title {
  height: 70px;
  width: 468px;
  background-color: #dbdbdb;
}
.form-title {
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
}

.fieldset-title {
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  color: #000000;
}

.price-description {
  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  opacity: 0.2;
  color: #000000;
}

.color-name {
  font-size: 14px;
  line-height: 40px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  color: #000000;
}

.bluetooth-name {
  font-size: 14px;
  line-height: 40px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  color: #000000;
}

.form-btn {
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
}

.footer-login-link {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  opacity: 0.7;
  color: #ffffff;
}

.footer-login-logout {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  opacity: 0.3;
  color: #ffffff;
}

